apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cncf-board
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      # 롤아웃 강제 갱신 Annotation 추가
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-12-01T07:49:00Z" # 현재 시간으로 값 변경
    spec:
      containers:
        - name: backend
          image: jungmk0720/cncf-backend:latest
          # 이미지 캐시 무시 및 강제 다운로드
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          # # DB 설정은 Dockerfile의 ENV에서 이미 처리됨
          # # (SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/cncf_board 등)

---

apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: cncf-board
spec:
  selector:
    app: backend
  ports:
    - port: 8080      # 클러스터 내부에서 쓰는 포트
      targetPort: 8080  # 컨테이너 포트
  type: ClusterIP     # NodePort → ClusterIP로 변경
