apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cncf-board
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: jungmk0720/cncf-backend:latest
          imagePullPolicy: Always
          env:
            - name: CLOUD_RUN_PROFANITY_FILTER_URL
              value: "https://serverless-function-307549381524.asia-northeast3.run.app/filter"
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi

---

apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: cncf-board
  annotations:
    cloud.google.com/backend-config: '{"default": "backend-backendconfig"}'
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
