apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: cncf-board
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
      annotations: # 이 섹션을 추가합니다.
        kubectl.kubernetes.io/restartedAt: "2025-12-01T07:10:00Z" # 이전 값보다 새로운 값으로 변경
    spec:
      containers:
        - name: frontend
          image: jungmk0720/cncf-frontend
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: cncf-board
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      # nodePort: 30080
  type: ClusterIP # NodePort
