apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: cncf-board
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-12-01T07:58:00Z" # 현재 시간으로 값 변경
    spec:
      containers:
        - name: frontend
          image: jungmk0720/cncf-frontend:latest
          # 이미지 캐시 무시 (image와 같은 레벨)
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi

---

apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: cncf-board
spec:
  selector:
    app: frontend
  ports:
    - port: 80      # 클러스터 내부에서 쓰는 포트
      targetPort: 80  # 컨테이너 포트
  type: ClusterIP     # NodePort → ClusterIP로 변경
