apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: board-ingress
  namespace: cncf-board
  annotations:
    # GKE LoadBalancer를 사용. Google CLoud
    kubernetes.io/ingress.class: "gce" 
spec:
  rules:
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend
              port:
                number: 80
