apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: board-ingress
  namespace: cncf-board
  annotations:
    # GKE LoadBalancer를 사용
    kubernetes.io/ingress.class: "gce" 
    networking.gke.io/managed-certificates: "board-certificate"
spec:
  defaultBackend: 
    service:
      name: frontend
      port:
        number: 80
  rules:
    - host: "xn--cncf-9r0q347a23z.xn--hk3b17f.xn--3e0b707e"
      http:
        paths:
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: backend
              port:
                number: 8080
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend
              port:
                number: 80