spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/cncf_board
    username: cncf_user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: "always"
  metrics:
    tags:
      application: board-backend

server:
  port: 8080

# Cloud Run Serverless Function URL 설정
cloud:
  run:
    profanity-filter:
      url: https://serverless-function-307549381524.asia-northeast3.run.app/filter