spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/cncf_board
    username: cncf_user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: "always"
  metrics:
    tags:
      application: board-backend

server:
  port: 8080
